# БД
POSTGRES_HOST=database
POSTGRES_USER=student
POSTGRES_PASSWORD=student
POSTGRES_DB=kupipodariday
POSTGRES_PGDATA=/var/lib/postgresql/data

# Бэкенд
JWT_SECRET=your-secret-key
PORT=3000
CORS_ORIGIN=http://localhost:8081

# Фронт (build-time)
REACT_APP_API_URL=http://localhost:4000